@import '../common/openSans';
.container {
  width:100%;
  .row {
    padding-left: 20px;
    border: 0;
    &.header{
      margin-bottom: 10px;
      word-wrap: break-word;
    }
    &-name {
      width: 20%;
      display: inline-block;
      font-size: 18px;
    }
    &-content{
      width: 80%;
      display: inline-block;
      font-size: 16px;
    }
  }
}

@media (max-width: 600px) {
  .container {
    .row {
      padding-left: 5px;
    }
  }
}

@media (max-width: 330px) {
  .container {
    width: 320px;
  }
}