.hour {
  cursor: pointer;
  font-size: 14px;
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  span {
    display: inline-block;
    vertical-align: middle;
  }
  .icon {
    font-size: 9px;
  }
}