.month-container {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  background-color: #dcdcdc;
  .month-name {
    font-size: 16px;
    font-weight: bold;
    color: #7e7e7e;
    text-transform: capitalize;
  }
  .icon {
    cursor: pointer;
    font-size: 16px;
  }
}